
.sign-main{
    height: 35em;
    width:40em;
    border-radius: 5px;
    background-color:white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.ls-label{
    font-size: 15px;
    font-weight: bold;
}
.ls-input {
    position: relative;
    margin: 10px;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid black;
    background-color:white;
    outline: none;
    transition: all 0.3s ease-in-out;
    padding: 5px;
}

.ls-input:focus {
    background-color:white;
}

.ls-input:hover {
    border-bottom: 2px solid aqua;
}

.ls-input::placeholder {
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.ls-input:hover::placeholder {
    transform: translateY(-10px);
    font-size: 12px;
    color:aqua;
}
.ls-button {
    margin: 20px;
    width: 15em;
    height: 3em;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 16px;
    color: black;
    background: linear-gradient(19deg, rgba(9, 11, 145, 1) 0%, rgba(242, 242, 233, 0.84) 100%);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.ls-button:hover {
    font-size: 15px;
    color: white;

}
a:hover {
    color: aqua;
}

